.about-us .info-boxes .info-box {
  padding: 20px;
}
.info-boxes {
  background-color: #d0d7ff;
  border-radius: 20px;
  color: #000;
  width: 27rem;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-us {
  margin-top: 8rem;
  margin-bottom: 10px;
}
.ab-para {
  color: #000;
}
.heading {
  position: relative;
  display: inline-block;
}
.bold-heading {
  width: 490px;
  font-weight: 400;
  font-size: 35px;
  line-height: 55px;
}
.heading-top-padding {
  color: #e7daed;
  font-size: 18px;
  width: 535px;
  font-weight: 500;
  line-height: 36px;
}
.grey-color {
  width: 2px;
  height: 80px;
  background-color: gray;
  align-self: center;
}
.btn {
  background: linear-gradient(#5550bc, #57007b);
  color: #fff;
  width: 150px;
  padding: 12px;
  border-radius: 10px;
  border: #57007b;
}

.heading::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 50%;
  height: 4px;
  background: linear-gradient(#5550bc, #57007b);
}
.image-section {
  position: relative;
  height: 300px;
  margin-top: -200px;
}

.image-section .img-bottom-left {
  position: absolute;
  bottom: -25%;
  left: 0;
  width: 48%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.image-section .img-top-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.image-section .half-circle {
  position: absolute;
  top: 55%;
  left: 34%;
  transform: translateY(-50%); /* Center the circle vertically */
  width: 70px;
  height: 70px; /* Make it a full circle */
  background: linear-gradient(#5550bc, #57007b);
  border-radius: 50%; /* Make it a circle */
  z-index: 0; /* Ensure it appears above the image */
}
.image-section .right-circle {
  position: absolute;
  bottom: -25px; /* Position the circle at the bottom of the container */
  right: 43%; /* Adjust to position the circle on the right side */
  transform: translateY(
    50%
  ); /* Adjust to make it visually centered from the bottom */
  width: 70px;
  height: 70px; /* Make it a full circle */
  background: linear-gradient(#5550bc, #57007b);
  border-radius: 50%; /* Make it a circle */
  z-index: 0; /* Ensure it appears below the image */
}

@media only screen and (max-width: 768px) {
  .about-us {
    margin-top: 5rem;
    margin-bottom: 30px;
    height: 42rem;
  }
  .heading {
    font-weight: 700;
    font-size: 18.11px;
    line-height: 28.46px;
    margin-left: 1rem;
  }
  .bold-heading {
    width: 256px;
    font-weight: 400;
    font-size: 18.11px;
    line-height: 28.46px;
    margin-left: 1rem;
  }
  .heading-top-padding {
    margin-top: -1.5rem;
    width: 290px;
    font-weight: 500;
    font-size: 9.9px;
    line-height: 18.63px;
    margin-left: 1rem;
  }
  .info-boxes {
    width: 82%;
    height: 90px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    margin-left: 0.5rem;
    background-color: #d0d7ff;
  }

  .info-box {
    flex: 1;
    margin-top: -15px;
    padding: 10px;
    text-align: left;
    align-items: center;
    justify-content: center;
  }

  .info-box h4 {
    width: 46px;
    font-size: 19px;
    font-weight: 400;
    line-height: 28.46px;
  }
  .info-box p {
    width: 50px;
    font-weight: 400;
    font-size: 9px;
    line-height: 18.63px;
  }

  .grey-color {
    width: 1px;
    height: 50px;
    align-items: center;
    align-self: stretch;
  }
  .btn {
    width: 40%;
    padding: 12px;
    margin-top: 10px;
    margin-left: 0.5rem;
  }

  .image-section {
    position: relative;
    margin-top: 15px;
    height: 210px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
  }

  .image-section .img-bottom-left,
  .image-section .img-top-right {
    position: absolute;
    width: 50%;
    max-width: 100%;
    height: auto;
  }

  .image-section .img-bottom-left {
    bottom: -20%;
    left: 5%; /* Adjust horizontal positioning */
    z-index: 2; /* Ensure it's on top */
  }

  .image-section .img-top-right {
    top: 0;
    right: 10%; /* Adjust horizontal positioning */
    z-index: 1; /* Ensure it's below img-bottom-left */
  }

  /* Add circles on left and right sides */
  .image-section .half-circle,
  .image-section .right-circle {
    position: absolute;
    width: 70px;
    height: 70px;
    background: linear-gradient(#5550bc, #57007b);
    border-radius: 50%; /* Make them circles */
    z-index: 0;
  }

  .image-section .half-circle {
    top: 50%;
    left: 30%;
  }

  .image-section .right-circle {
    bottom: 10px;
    right: 35%;
  }
}
