.company-container {
  background-color: #f9f9ff;
  position: relative;
  bottom: 6rem;
  left: 0;
  margin-bottom: 1rem;
  height: 45rem;
}
.company-heading {
  margin-top: 2rem;
  font-weight: bold;
  color: #000;
}
.Culture-heading {
  margin-top: -6rem;
  color: #000;
  font-weight: bold;
}
.company-description {
  display: flex;
  justify-content: center;
  align-items: center;
}
.company-description p {
  color: #555;
  width: 623px;
  height: 221px;
  font-weight: 400;
  font-size: 20px;
}
.Culture-heading::after {
  content: '';
  position: absolute;
  top: -0.5rem;
  left: 40.5rem;
  width: 5%;
  height: 5px;
  background: linear-gradient(#5550bc, #57007b);
}

.company-subheading {
  font-weight: bold;
  color: #5550bc;
}

/* Cards Section */
.custom-card {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 100%;
  transition: transform 0.3s ease;
}

.custom-card:hover {
  transform: scale(1.03);
}

.card-icon {
  width: 200px;
  height: 80px;
  background: linear-gradient(#5550bc, #57007b);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.card-image {
  width: 50%;
  height: 50%;
  object-fit: contain;
}

.card-content {
  margin-left: 1.5rem;
  text-align: left;
}

.card-content h5 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.card-content p {
  margin: 0.5rem 0 0;
  font-size: 14px;
  color: #555;
}
.halfcircle {
  position: absolute;
  bottom: 0px;
  left: 35px;
  width: 90px;
  height: 50px;
  background: linear-gradient(#5550bc, #57007b);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  z-index: 10;
}
@media (max-width: 768px) {
  .company-container {
    margin-left: -0rem;
    background-color: #f9f9ff;
    width: 405px;
    height: 46rem;
  }
  .values-content {
    margin-top: -7rem;
    height: 200px;
  }
  .col-values {
    height: 205px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .Culture-heading {
    width: 66px;
    height: 32px;
    font-weight: 700;
    font-size: 18.11px;
    line-height: 33.12px;
  }
  .Culture-heading::after {
    content: '';
    position: absolute;
    top: 1.5rem;
    left: 12rem;
    width: 8%;
    height: 2px;
    background: linear-gradient(#5550bc, #57007b);
  }
  .company-heading,
  .company-subheading {
    margin-top: -0.5rem;
    width: 170px;
    height: 32px;
    font-weight: 700;
    font-size: 18.11px;
    line-height: 33.12px;
  }
  .company-description p {
    color: #555;
    width: 322px;
    height: 133px;
    font-weight: 400;
    font-size: 9.31px;
    line-height: 21.68px;
  }
  .custom-card {
    width: 340px;
    height: 95px;
  }
  .card-icon {
    width: 50.31px;
    height: 51.31px;
  }
  .card-content {
    width: 270px;
    margin-top: -0.5rem;
    height: 80px;
  }
  .card-heading {
    margin-top: 1rem;
    width: 130px;
    height: 10px;
    font-weight: 400;
    font-size: 8.96px;
    line-height: 17.92px;
  }
  .card-paragraph {
    width: 240px;
    height: 45.79px;
    font-weight: 400;
    font-size: 5.97px;
    line-height: 10.95px;
  }
}
