.contact-container {
  position: relative;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: #f9f9ff;
  color: #000;
  overflow: visible;
  margin-top: 8rem;
  margin-bottom: 10px;
  height: 60rem;
}
.contactdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-para {
  text-align: center;
  width: 644px;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  color: #9f9f9f;
}

.heading5 {
  color: #000 !important;
  margin-left: 2rem;
  width: 99px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
}
.para p {
  margin-top: -20px;
  margin-left: 2rem;
  width: 212px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000 !important;
}
.address {
  display: flex;
  flex-direction: column;
}
.icon-imgs {
  width: 22px;
  height: 27.59px;
}
.form-control {
  padding: 15px;
  border-radius: 5px; /* Optional for rounded corners */
  border: 1px solid #57007b; /* Keep purple border on focus */
  box-shadow: 0 0 5px rgba(87, 0, 123, 0.5); /* Optional purple glow effect */
  outline: none; /* Remove the browser's default focus outline */
  margin: '5px';
}

#subject {
  border: 1px solid linear-gradient(#5550bc, #57007b);
}
.btn {
  margin: 25px;
  width: 200px;
}
/* Media Queries for Responsiveness */

@media (max-width: 768px) {
  .top-para {
    margin: 0;
    text-align: center;
    width: 274px;
    font-weight: 400;
    line-height: 10.21px;
    font-size: 7px;
    color: #9f9f9f;
    margin-top: -10px;
  }
  .tech-heading {
    font-size: 15.32px;
    line-height: 23px;
  }
  .contact-container {
    padding: 1rem;
    margin-top: 2rem;
  }
  .address {
    width: 300px;
    margin-left: 2rem;
    margin-top: -2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
  }
  .address-col {
    display: flex;
    flex-direction: column;
    width: 64.55px;
  }
  .heading5 {
    width: 49px;
    font-size: 6.8px;
    height: 11px;
    line-height: 10.5px;
    font-weight: 500;
    margin-left: 10.5px;
    margin-top: 10px;
  }
  .para p {
    width: 72.52px;
    font-size: 5px;
    line-height: 7.5px;
    font-weight: 400;
    margin-left: 10px;
  }
  .icon-imgs {
    width: 7px;
    height: 9.78px;
  }
  .img-title {
    display: flex;
  }
}
