.contact-container {
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: #f9f9ff;
  color: #000;
  height: 56rem;
}

.contactdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-para {
  text-align: center;
  width: 644px;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  color: #9f9f9f;
}

.heading5 {
  color: #000 !important;
  margin-left: 1rem;
  /* width: 99px; */
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
}

.para p {
  margin-left: 2.5rem;
  width: 240px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000 !important;
}

.address {
  display: flex;
  flex-direction: column;
}

.icon-imgs {
  width: 22px;
  height: 27.59px;
}

.form-control {
  padding: 15px;
  border-radius: 5px;
  /* Optional for rounded corners */
  border: 1px solid #57007b;
  /* Keep purple border on focus */
  box-shadow: 0 0 5px rgba(87, 0, 123, 0.5);
  /* Optional purple glow effect */
  outline: none;
  /* Remove the browser's default focus outline */
  margin: '5px';
}

#subject {
  border: 1px solid linear-gradient(#5550bc, #57007b);
}

.btn {
  margin: 25px;
  width: 200px;
}

/* Media Queries for Responsiveness */

@media (max-width: 768px) {
  .address {
    display: none;
  }

  /*
  .contact-container {
    margin-left: 0rem;
    background-color: #f9f9ff;
    width: 100%;
  }

  .top-para {
    margin: 0;
    text-align: center;
    font-weight: 400;
    color: #9f9f9f;
    margin-top: -10px;
  }

  .contact-container {
    padding: 1rem;
    margin-top: 2rem;
  }

  .address {
    margin-top: -2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .address-col {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0 !important;
  }

  .heading5 {
    font-weight: 500;
    vertical-align: middle;
    margin-left: 0px;
  }

  .para p {
    font-weight: 400;
    margin-left: 25px;
  }

  .iconimgs {
    width: 16px;
    vertical-align: middle;
  }

  .icon-imgs {
    width: auto;
    height: auto;
  }

  .img-title {
    display: flex;
  }*/
}