.footer-link {
  color: #cbd5e0 !important;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin: 5px;
}

.footer {
  height: 26rem;
}

h5 {
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}

.fot-para {
  font-size: 18px;
  margin: 10px 0;
  font-weight: 300;
  color: #cbd5e0;
}

.footer-link {
  margin-top: 8px;
  margin-bottom: 8px;
}

.hor {
  border: none;
  height: 2px;
  background-color: #cbd5e0 !important;
  width: 100vw;
  margin: 20px auto;
  margin-left: calc(-50vw + 50%);
}

@media (max-width: 768px) {
  .footer {
    margin-left: 0rem;
    width: 100%;
    height: 92px;
    display: flex;
    align-items: center;
    justify-items: center;
    overflow: hidden;
  }

  .heading-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;
  }

  .icon {
    width: 15px;
    height: 15px;
  }

  .foot-heading {
    margin-left: 0.5rem;
    margin-top: -6rem;
    width: 134px;
    height: 15px;
    font-size: 14px;
    line-height: 16.49px;
  }

  .footer-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -0.8rem;
  }

  .fot-para {
    display: none;
  }

  .small-heading {
    display: none;
  }

  .footer-last {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .last-line {
    margin-left: 2rem;
    margin-top: -0.8rem;
    text-align: center;
    width: 175px;
    height: 5px;
    font-size: 4.62px;
    font-weight: 400;
  }

  .hor {
    margin-top: -4.5rem;
    width: 100%;
    background-color: #ffffff;
  }
}