.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 2rem;
  background-color: #000;
}

.hero-text {
  flex: 1;
  margin-right: 0.5rem;
  margin-left: 5rem;
}

.hero-text h1 {
  font-size: 2.6rem;
  color: #fff;
}

.hero-text .highlight {
  color: #6c63ff;
}

.hero-text p {
  color: #cbd5e0;
  width: 531px;
  font-size: 17px;
  line-height: 36px;
  font-weight: 400;
  margin: 1rem 0;
}

.hero-btn {
  background: #fff;
  color: #000;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.hero-btn:hover {
  background: #6c63ff;
  color: #fff;
}

.hero-image {
  flex: 1;
  max-width: 48%;
  margin-right: 3rem;
  margin-left: 1rem;
}

/* Media Query for Mobile Responsiveness */
@media (max-width: 768px) {
  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0px;
    margin-top: -50px;
  }

  .hero-text {
    margin: 0;
    margin-bottom: 1rem;
    width: 100%;
  }

  .hero-text h1 {
    width: 300px;
    font-size: 24px;
    margin-left: 0rem;
    margin-bottom: 0.8rem;
    font-weight: 800;
    line-height: 31px;
  }

  .highlight {
    width: 300px;
    font-size: 24px;
    margin-left: 0rem;
    font-weight: 800;
    line-height: 31px;
  }

  .hero-text p {
    width: 300px;
    line-height: 22px;
    font-size: 14px;
    font-weight: 400;
    margin-left: 0.5rem;
  }

  .hero-btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    width: 170px;
    margin: 1rem 0;
    margin-left: 0.5rem;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    border: none;
  }

  .hero-btn:hover {
    background-color: #0056b3;
    transition: background-color 0.3s ease;
  }

  .hero-image {
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
    margin: 1rem 0; /* Add spacing around the image */
    align-self: center;
  }
}
