.about-page {
  display: flex;
  color: white;
  height: 350px;
  overflow: hidden;
}
.about-content {
  text-align: left;
  margin-left: 5rem;
}
.about-heading {
  width: 170px;
  height: 55px;
  font-size: 35px;
  line-height: 55px;
  font-weight: 700;
}
.about-heading::after {
  content: '';
  position: absolute;
  top: 12rem;
  left: 5.2rem;
  width: 5%;
  height: 4px;
  background: linear-gradient(#5550bc, #57007b);
}
.about-subheading {
  color: #6a5acd;
  width: 500px;
  height: 142px;
  font-size: 36px;
  line-height: 71px;
  font-weight: 800;
}

.about-subheading span {
  color: #6a5acd;
}

.about-deliver {
  margin-top: -90px;
  width: 500px;
  height: 142px;
  font-size: 36px;
  line-height: 71px;
  font-weight: 800;
}

.overlap-images {
  position: relative;
  top: -8rem;
  margin-left: 69.6rem;
}
.circle-image.circle1 {
  position: absolute;
  top: -4rem;
  left: 0.5rem;
  z-index: 1;
}

.circle-image.circle2 {
  position: absolute;
  top: -50px;
  left: 50px;
  z-index: 2;
}

@media (max-width: 768px) {
  .about-page {
    display: flex;
    flex-direction: row;
    width: 405px;
    height: 170px;
  }
  .about-content {
    position: relative; /* Enables movement with top/left properties */
    top: -3rem;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 1.2rem;
    height: 150px;
  }
  .about-heading::after {
    content: '';
    position: absolute;
    top: 2.5rem;
    left: 1.5rem;
    width: 10%;
    height: 3px;
    background: linear-gradient(#5550bc, #57007b);
  }

  .about-heading {
    margin-top: 0.5rem;
    width: 109px;
    font-weight: 700;
    font-size: 23px; /* Adjust font size for visibility */
    line-height: 28px;
    height: auto; /* Allow height to adjust based on content */
    margin-left: 0.5rem; /* Apply negative margin to shift the heading */
  }

  .about-subheading {
    width: 270px;
    font-size: 19px;
    line-height: 30px;
    height: 60px;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  }
  .about-deliver {
    position: relative;
    margin-top: 2.5rem;
    top: -3rem;
    left: 0.5rem;
    width: 264px;
    font-size: 20px;
    line-height: 30px;
    height: 60px;
  }
  .overlap-images {
    position: relative;
    top: 4rem; /* Reset positioning */
    right: -43px; /* Reset positioning */
    margin: 1rem 0; /* Add spacing for the image */
    display: flex;
    justify-content: center; /* Center the main content */
    align-items: center;
  }

  .circle-image.circle1 {
    position: absolute;
    top: -15rem; /* Move further up */
    right: -17rem; /* Align to the right corner */
    width: 80px; /* Circle size */
    height: 80px;
  }

  .circle-image.circle2 {
    position: absolute;
    top: -13rem; /* Move further up, slightly below circle1 */
    right: -17rem; /* Offset to the left of circle1 */
    width: 90px; /* Circle size */
    height: 90px;
  }
}
