.products-details {
  display: flex;
  color: white;
  height: 350px;
  overflow: hidden;
}

.product-content {
  text-align: left;
  margin-left: 4rem;
  width: 800px;
}

.business-heading {
  margin-top: 1rem;
  width: 860px;
  height: 55px;
  font-size: 35px;
  font-weight: 700;
  line-height: 55px;
}

.business-heading::after {
  content: '';
  position: absolute;
  top: 14rem;
  left: 4.5rem;
  width: 5%;
  height: 4px;
  background: linear-gradient(#5550bc, #57007b);
}

.industries-subheading {
  margin-top: 4rem;
  width: 650px;
  height: 76px;
  font-size: 24px;
  font-weight: 800;
  line-height: 38px;
}

@media (max-width: 768px) {
  .products-details {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 180px;
  }

  .product-content {
    position: relative;
    top: -3rem;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 1.2rem;
    height: 150px;
  }

  .business-heading::after {
    content: '';
    position: absolute;
    top: 4.8rem;
    left: 1.5rem;
    width: 10%;
    height: 3px;
    background: linear-gradient(#5550bc, #57007b);
  }

  .business-heading {
    width: 300px;
    font-weight: 700;
    font-size: 24px;
    /* Adjust font size for visibility */
    line-height: 29px;
    height: auto;
    /* Allow height to adjust based on content */
    margin-left: 0.5rem;
    /* Apply negative margin to shift the heading */
  }

  .industries-subheading {
    margin-top: 0rem;
    width: 235px;
    height: 60px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 800;
    margin-left: 0.5rem;
  }

  .industries-subheading span {
    width: 240px;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    height: 115px;
  }

  .overlap-images {
    position: relative;
    top: 3.8rem;
    /* Reset positioning */
    right: -43px;
    /* Reset positioning */
    margin: 1rem 0;
    /* Add spacing for the image */
    display: flex;
    justify-content: center;
    /* Center the main content */
    align-items: center;
  }

  .circle-image.circle1 {
    position: absolute;
    top: -13rem;
    /* Move further up */
    right: -17rem;
    /* Align to the right corner */
    width: 70px;
    /* Circle size */
    height: 70px;
  }

  .circle-image.circle2 {
    position: absolute;
    top: -11rem;
    /* Move further up, slightly below circle1 */
    right: -17rem;
    /* Offset to the left of circle1 */
    width: 80px;
    /* Circle size */
    height: 80px;
  }
}