.prjects-details {
  display: flex;
  color: white;
  height: 350px;
  overflow: hidden;
}
.project-content {
  text-align: left;
  margin-left: 4rem;
  width: 800px;
}
.success-heading::after {
  content: '';
  position: absolute;
  top: 12rem;
  left: 4.5rem;
  width: 5%;
  height: 4px;
  background: linear-gradient(#5550bc, #57007b);
}
.success-subheading {
  margin-top: 3rem;
  width: 770px;
  height: 114px;
  font-size: 24px;
  font-weight: 800;
  line-height: 38px;
}
.shaping-heading {
  height: 114px;
  width: 670px;
  margin-top: -5rem;
  font-size: 24px;
  font-weight: 800;
}

@media (max-width: 768px) {
  .prjects-details {
    display: flex;
    flex-direction: row;
    /* width: 405px; */
    height: 180px;
  }
  .project-content {
    position: relative; /* Enables movement with top/left properties */
    top: -3rem;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 1.2rem;
    height: 150px;
  }
  .success-heading::after {
    content: '';
    position: absolute;
    top: 2rem;
    left: 1.29rem;
    width: 15%;
    height: 2px;
    background: linear-gradient(#5550bc, #57007b);
  }

  .success-heading {
    width: 239px;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    height: auto;
    margin-left: 0.5rem;
  }

  .success-subheading {
    margin-top: 0rem;
    width: 240px;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    margin-left: 0.5rem;
  }
  .success-subheading span {
    margin-top: -1rem;
    width: 240px;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    height: 115px;
  }
  .shaping-heading {
    position: relative;
    font-weight: 800;
    margin-top: 2rem;
    top: -2.5rem;
    left: 0.5rem;
    width: 240px;
    font-size: 14px;
    line-height: 23px;
    height: 151px;
  }
  .overlap-images {
    position: relative;
    top: 3.8rem; /* Reset positioning */
    right: -43px; /* Reset positioning */
    margin: 1rem 0; /* Add spacing for the image */
    display: flex;
    justify-content: center; /* Center the main content */
    align-items: center;
  }

  .circle-image.circle1 {
    position: absolute;
    top: -13rem; /* Move further up */
    right: -17rem; /* Align to the right corner */
    width: 70px; /* Circle size */
    height: 70px;
  }

  .circle-image.circle2 {
    position: absolute;
    top: -11rem; /* Move further up, slightly below circle1 */
    right: -17rem; /* Offset to the left of circle1 */
    width: 80px; /* Circle size */
    height: 80px;
  }
}
