.carousel {
  border: none !important;
  box-shadow: none !important;
}

.review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.Icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 2px solid white;
  background-color: transparent;
  position: relative;
  top: -12rem;
}

.review-pragh {
  text-align: center;
  margin: 10px auto;
  max-width: 540px;
  font-weight: 500;
  line-height: 36px;
  font-size: 18px;
  color: #c4c4c4;
}

.left-comma {
  position: absolute;
  left: 20%;
  top: 0;
}

.right-comma {
  position: absolute;
  right: 20%;
  bottom: 0;
}

.review-col {
  margin-right: 0.3rem;
  margin-left: 0.3rem;
}

.review-col img {
  width: 150px;
  height: 150px;
}

.designation {
  font-size: 0.8rem;
  color: #a0aec0;
}

.large-img {
  width: 190px !important;
  height: 190px !important;
}

.review-col img {
  max-width: 100%;
  height: auto;
  display: block;
}

.line-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.simple-line {
  width: 70px;
  height: 5px;
  background: linear-gradient(to right, #5550bc, #57007b);
  margin: 0 auto;
}

.highlightedparagraph {
  color: #fff !important;
  font-weight: bold;
  font-size: 1rem;
}

.paragraph {
  color: #c4c4c4 !important;
  font-size: 0.6rem;
}

.review-col p {
  color: #a0aec0;
  font-size: 1rem;
}

@media only screen and (max-width: 768px) {
  .review-contain {
    margin-left: 0rem;
    margin-top: -0.8rem;
    /* width: 405px; */
    height: 370px;
  }

  .simple-line {
    width: 27.28px;
  }

  .customerdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .customer-heading {
    text-align: center;
    max-width: 188px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }

  .review-pragh {
    text-align: center;
    margin: 10px auto;
    max-width: 230px;
    font-weight: 500;
    line-height: 15px;
    font-size: 9.5px;
  }

  .carousel {
    display: flex;
    align-items: center;
    width: 375px;
    height: 120px;
    gap: 30px;
  }

  .stats {
    margin-top: -1rem;
    display: flex;
    width: 38px;
    height: 5.91px;
  }

  .no-gutters {
    display: flex;
    width: 375px;
    height: 79px;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2rem;
    box-sizing: border-box;
  }

  .review-col {
    margin-left: -1rem;
    width: 65px;
    height: 68.2px;
    display: flex;
    flex-direction: column;
  }

  .review-col p {
    margin-left: -2rem;
    margin: 0;
    width: 40px;
    font-weight: 400;
    font-size: 4px;
    line-height: 8px;
  }

  .review-col img {
    width: 33.6px;
    height: 33.6px;
  }

  .rounded-circle {
    width: 40px;
    height: 78.09px;
    gap: 5.93px;
  }

  .large-img {
    width: 39.53px !important;
    height: 39.53px !important;
  }

  .highlightedparagraph {
    width: 40px;
    height: 9px;
    font-weight: 700;
    font-size: 7.12px;
    line-height: 8.61px;
  }

  .paragraph {
    width: 49px;
    height: 9px;
    font-weight: 400;
    font-size: 5.53px;
    line-height: 8.97px;
  }

  .right-comma {
    position: absolute;
    right: 15%;
    bottom: -1px;
  }

  .left-comma {
    position: absolute;
    left: 11%;
    top: -1px;
  }

  .Icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    margin-bottom: -3rem;
    margin-left: -2rem;
    border-radius: 50%;
    position: relative;
  }
}